<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Muokkaa lautapelia </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Muokkaa tästä</h1>
	<div>
		<form th:object="${lautapeli}" th:action="@{../save}" action="#" method="post">
			<input type="hidden" id="id" th:field="*{id}" />
		  	<label for="nimi">Nimi</label>
			<input type="text" id="nimi" th:field="*{nimi}" />
			<div style="clear: both; display: block; height: 10px;"></div>
		  	<label for="tuotemerkki">Tuotemerkki</label>
			<input type="text" id="tuotemerkki" th:field="*{tuotemerkki}" />
			<div style="clear: both; display: block; height: 10px;"></div>
		  	<label for="vuosi">Vuosi</label>
			<input type="text" th:field="*{vuosi}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<label for="isbn">Isbn</label>
			<input type="text" id="isbn" th:field="*{isbn}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<label for="hinta">Hinta</label>
			<input type="text" th:field="*{hinta}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			
									
		  	<label for="tlist">Tyyppi</label>
			 <select id="tlist" th:field="*{tyyppi}" class="form-control">
       			<option th:each="tyyppi: ${tyypit}" th:value="${tyyppi.tyyppiid}" th:text="${tyyppi.tnimi}"></option>
    		</select>
			
			<div style="clear: both; display: block; height: 10px;"></div>
			<input type="submit" value="Save"></input>
		</form>
	</div>
</body>
</html>